<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all.car.mapper.RegMapper">
    <insert id="insert">
        insert into user (
        name,
        password,
        email,
        regDate
        )
        VALUES (
        #{name},
        #{password},
        #{email},
        now()
        )
    </insert>

    <select id="findByEmail" resultType="com.all.car.model.UserModel">
        select  userId,email,name,password from user where email = #{email}
    </select>
</mapper>